@import "../../../root.scss";

.cartInside {
  width: 110px;
  height: 130px;
  top: 45px;
  right: 25px;
  position: absolute;
  background-color: $white;
}

.cartInside div {
  text-align: center;
  margin: 26px 6px;
  font-family: $axis;
  letter-spacing: 1px;
  font-size: 11px;
}
