@import "../../../root.scss";

.footer {
  padding: 25px;
  text-align: center;
  background-color: #f7f7f7;

  &__socialmedia {
    display: grid;
    grid-auto-flow: column;
    gap: 8px;
    justify-content: center;
  }

  &__socialmedia img {
    padding-top: 8px;
    width: 35px;
    height: 35px;
  }

  &__follow-us {
    font-size: 15px;
    font-family: $axis;
  }

  &__copyright {
    letter-spacing: 2px;
    font-size: 14px;
    font-family: $axis;
  }

  &__renome {
    font-size: 25px;
    font-family: $pacifico;
  }
}
