@import "../../../root.scss";

$montserrat: "Montserrat";
$axis: "Axis";

.about {
  margin-top: 15%;
  margin-left: 15px;
  margin-right: 65px;
}

.about__image--first {
  width: 80%;
  margin-top: 50%;
}

.about__image--second {
  position: absolute;
  width: 75%;
  left: 23%;
}

.about__images--all {
  display: block;
}

.about__text {
  font-family: $montserrat;
  font-size: 13px;
  line-height: 30px;
  font-weight: 800;
  hyphens: auto;
  margin-bottom: 10%;
  margin-top: 80px;
}

.about__text--subtitle {
  font-family: $axis;
  font-size: 14px;
  color: $subtitle_color;
}

.about__text--title {
  font-family: $axis;
  font-size: 40px;
  letter-spacing: 7px;
  margin-top: 20px;
}
