@import "../../../root.scss";

$montserrat: "Montserrat";
$axis: "Axis";

.gallery {
  text-align: center;
  background-color: $background-gallery;
  padding: 4px 5px;
  margin-bottom: 100px;

  &__images {
    display: grid;
    justify-content: center;
    margin-left: 1fr;
    margin-right: 1fr;
    grid-template-columns: 1fr 1fr ;
    gap: 8px;
    width: 100%;
  }

  &__text {
    margin: center;
    font-family: $montserrat;
    line-height: 20px;
  }

  &__text--subtitle {
    font-family: $axis;
    font-size: 20px;
    color: $subtitle_color;
    line-height: 50px;
  }

  &__text--title {
    font-family: $axis;
    margin-top: 240px;
    font-size: 45px;
    letter-spacing: 10px;
  }

  &__allItems {
    margin-top: -140px;
    margin-left: -10px;
  }
}
