@font-face {
  font-family: "Montserrat";
  src: url("././../public/fonts/Montserrat.ttf") format("truetype");
}

@font-face {
  font-family: "Axis";
  src: url("././../public/fonts/Axis.woff2") format("truetype");
}

@font-face {
  font-family: "Pacifico";
  src: url("././../public/fonts/Pacifico.ttf") format("truetype");
}

$subtitle_color: #9c674c;
$background-gallery: #f7f5f5;
$background-footer: #f7f5f5;
$black:black;
$white:white;

$montserrat: "Montserrat";
$axis: "Axis";
$pacifico: "Pacifico";

$width: 65px;
$height: 65px;
$background-color: Transparent;
