@font-face {
  font-family: "Montserrat";
  src: url("././../public/fonts/Montserrat.ttf") format("truetype");
}

@font-face {
  font-family: "Axis";
  src: url("././../public/fonts/Axis.woff2") format("truetype");
}

$subtitle_color: #9c674c;
$background-gallery: #f7f5f5;
$montserrat: "Montserrat";
$axis: "Axis";
